# Virtual environment
venv/
env/

# Database locale (dati personali)
db/portfolio.db

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*egg-info/

# Variabili d'ambiente
.env
.env.loval

# IDE
.vscode/
.idea/
*.swp
*.swo

# File di sistema
.DS_Store
Thumbs.db

# Log
*.log

# Report generati
reports/

# Note personali
note*.txt
notes/ 